<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/efic2?zeroDateTimeBehavior=convertToNull</property>
        <property name="hibernate.connection.username">user_efic</property>
        <property name="hibernate.connection.password">user_efic</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
    
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
  
        <mapping resource="bo/com/kibo/dal/mapping/GeoLugar.hbm.xml"/>
        <mapping resource="bo/com/kibo/dal/mapping/Patio.hbm.xml"/>
        <mapping resource="bo/com/kibo/dal/mapping/Faja.hbm.xml"/>
        <mapping resource="bo/com/kibo/dal/mapping/Area.hbm.xml"/>
        <mapping resource="bo/com/kibo/dal/mapping/Especie.hbm.xml"/>
        <mapping resource="bo/com/kibo/dal/mapping/Carga.hbm.xml"/>
        <mapping resource="bo/com/kibo/dal/mapping/Calidad.hbm.xml"/>
        <mapping resource="bo/com/kibo/dal/mapping/Troza.hbm.xml"/>
        <mapping resource="bo/com/kibo/dal/mapping/EncabezadoFormulario.hbm.xml"/>
        <mapping resource="bo/com/kibo/dal/mapping/FormularioCenso.hbm.xml"/>
        <mapping resource="bo/com/kibo/dal/mapping/FormularioCorta.hbm.xml"/>
        <mapping resource="bo/com/kibo/dal/mapping/FormularioExtraccion.hbm.xml"/>
        <mapping resource="bo/com/kibo/dal/mapping/FormularioMovimiento.hbm.xml"/>
        <mapping resource="bo/com/kibo/dal/mapping/Usuario.hbm.xml"/>
        <mapping resource="bo/com/kibo/dal/mapping/Rol.hbm.xml"/>
        <mapping resource="bo/com/kibo/dal/mapping/Permiso.hbm.xml"/>
        <mapping resource="bo/com/kibo/dal/mapping/RolPermiso.hbm.xml"/>
        <mapping resource="bo/com/kibo/dal/mapping/Destino.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
